body {
	font-family: sans-serif;
	padding: 20px;
}
h1 {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}
p {
	margin-bottom: 10px;
	line-height: 1.5;
}
.note {
	background: #f1f3f4;
  padding: 20px;
  border-radius: 10px;
  /* border: 1px solid #ced3d6; */
  margin: 20px 0;
}